// clue-ui 样式定义
//
// Note:
//   使用 @apply #{$btn-bg-primary} 编写的样式可以直接使用tailwind变量
//   参考官方手册 https://www.tailwindcss.cn/docs/colors
//================================================================

// btn default
$btn-bg-default:          'bg-white';
$btn-bg-primary:          'bg-blue-dark';
$btn-bg-info:             'bg-grey-dark';
$btn-bg-success:          'bg-green-dark';
$btn-bg-warning:          'bg-orange';
$btn-bg-danger:           'bg-red';
// btn shadow
$btn-shadow-default:      '#F1F5F8';
$btn-shadow-primary:      '#BCDEFA';
$btn-shadow-info:         '#DAE1E7';
$btn-shadow-success:      '#A2F5BF';
$btn-shadow-warning:      '#FCD9B6';
$btn-shadow-danger:       '#F9ACAA';

// tag background-color
$tag-bg-default:          'bg-white';
$tag-bg-primary:          'bg-blue-dark';
$tag-bg-info:             'bg-grey-dark';
$tag-bg-success:          'bg-green-dark';
$tag-bg-warning:          'bg-orange';
$tag-bg-danger:           'bg-red';
// tag border-color
$tag-border-default:      'border-white';
$tag-border-primary:      'border-blue-dark';
$tag-border-info:         'border-grey-dark';
$tag-border-success:      'border-green-dark';
$tag-border-warning:      'border-orange';
$tag-border-danger:       'border-red';
