// Variables
// tailwind 变量使用

// $clue-theme-bgcolor: #38A89D;

// btn
$btn-bg-default:          'bg-white';
$btn-bg-primary:          'bg-blue-dark';
$btn-bg-info:             'bg-grey-dark';
$btn-bg-success:          'bg-green-dark';
$btn-bg-warning:          'bg-orange';
$btn-bg-danger:           'bg-red';

// tag background-color
$tag-bg-default:          'bg-white';
$tag-bg-primary:          'bg-blue-dark';
$tag-bg-info:             'bg-grey-dark';
$tag-bg-success:          'bg-green-dark';
$tag-bg-warning:          'bg-orange';
$tag-bg-danger:           'bg-red';
// tag border-color
$tag-border-default:      'border-white';
$tag-border-primary:      'border-blue-dark';
$tag-border-info:         'border-grey-dark';
$tag-border-success:      'border-green-dark';
$tag-border-warning:      'border-orange';
$tag-border-danger:       'border-red';
