.c-breadcrumb {
  @apply flex;
  @apply list-reset;
  @apply p-2;
  @apply shadow;
  @apply border;

  .c-breadcrumb-label {
    @apply pr-2;
  }

  .c-breadcrumb-item {
    + .c-breadcrumb-item {
      &::before {
        display: inline-block;
        content: '/';
        @apply px-1;
      }
    }

    +.c-breadcrumb-item:hover::before {
      text-decoration: underline;
    }

    +.c-breadcrumb-item:hover::before {
      text-decoration: none;
    }

    &.active {
      color: blue;
    }

    a {
      // @apply text-grey-darkest;
      @apply no-underline;
    }
  }
}