.c-pagination {
  @apply flex;
  // 对齐方式 justify-start;justify-center;justify-end;justify-between
  @apply justify-start;

  .page-item {
    @apply text-grey;
    @apply border rounded outline-none;
    @apply px-1 text-center select-none;
    @apply cursor-pointer;
    min-width: 1.5rem;
    padding: 5px;

    +.page-item {
      @apply ml-1;
    }

    &:hover {
      @apply text-grey-darker;
    }

    // &:active {
    //   @apply bg-grey-light;
    // }
  }

  .page-item.is-active {
    @apply bg-teal-dark text-grey-lighter;
  }

  .page-tool {
    @apply ml-2;
    height: 1.5rem;
    line-height: 1.5rem;
  }
}